/*Navigation area*/

.nav-area{
   background: #000;
   border-bottom: 4px solid #d70a03 ;
}

.nav-area .nav-link{
    color: #ffffff;
    font-size: 18px;
}

.nav-area .nav-link:hover{
   color: #d70a03;
}

.custom-toggler .navbar-toggler-icon{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
 
.custom-toggler.navbar-toggler{
   border-color: rgb(255, 255, 255);
} 

/*Modal area*/

.modal-content h4{
   color: #d70a03;
}

.modal-footer button{
   background-color: #d70a03;
   color: #ffffff;
   font-size: 14px;
}


/*Jumbotron*/

.index-intro .jumbotron{
  background-image: url(../images/banner2.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  text-align: center;
  color: #ffffff;
  border-radius: 0%;
  
}

.index-intro .jumbotron h1, .jumbotron h2{
   font-size: 60px;
   font-weight: bold;
}

.index-intro .jumbotron .parag-1 {
  font-size: 40px;
  font-weight: normal;
  background-color: #f70606ab;
}

.index-intro .jumbotron .parag-2{
   font-size: 20px;
   background: #f70606ab;
}

.jumbotron .button {
   padding-top:20px;
}

.jumbotron .button .btn{
   font-size: 18px;
   color: #d70a03;
   border: #fff solid 1px;
   padding: 10px 20px;
   background: #fff;
   font-weight: 500;
}

.jumbotron .button .btn:hover{
   font-size: 18px;
   background-color: #d70a03;
   border: #d70a03 solid 1px;
   color: #fff;
   font-weight: 500;
}



/*About area*/

.about-area .row{
text-align: center;
padding-top: 60px;
color: #030000;
}


.about-area .row .icon-parag-1{
padding-top: 5px;
font-size: 20px;
font-weight: bold;

}

.about-area .row .icon-parag-2{
font-size: 16px;
line-height: 22px;
}

/*Main Image*/

.main-area .container .musicbg img{
   width: 100%;
}

.main-area .container .microphone{
   margin-top:20px;
   margin-bottom:20px;
   width: 100%;
   text-align: center;
   background-color: red;
   color: #ffffff;
}

.microphone img{
   padding-top: 40px;
   width: 20%;
}

.microphone p{
   padding-top: 10px;
}

/*News area*/

.news h2{
   text-align: center;
   font-size: 45px;
   margin-top: 40px;
}

.news p{
   text-align: center;
   font-size: 18px;
}

.card{
   width:20rem;
}

.card-area {
display: flex;
justify-content: space-around;
}

.album-area{
   display: flex;
   justify-content: space-between;
}

.album-area img{
   width: 100%;
}

.album-area img:hover{
   opacity: 0.5;
   transition: 0.5s all ease;
}

.album-area .album-1{
   width: 100%;
   margin: 20px 40px;
}

.album-area .album-2{
   width: 100%;
   margin: 20px;
}

/*Newsletter*/

.form-inline{
   margin-right: auto;
   margin-left: auto;
}

.form-area{
   background-color: red;
   margin-top: 10px;
   padding-top: 30px;
   padding-bottom: 30px;
}

.form-area label{
   font-size: 20px;
   vertical-align: center;
   padding-right: 10px;
   color: #ffffff;
}

.form-area .btn{
   background-color: black;
   color: #ffffff;
}

.textarea{
   margin-bottom: 25px;
    padding: 12px 19px;
    color: #000 !important;
    width: 100%;
    border: #b1b0b0 solid 1px;
    border-radius: 10px;
}

.contact-area{
   background-color: black;
   color: #fff;
}


/*Responsive - Max 768px*/

@media only screen and (max-width:768px){

   
/*logo*/

.navbar-brand img{
   max-width: 80%;
}

/*jumbotron*/

   .index-intro .jumbotron h1, .jumbotron h2{
      font-size: 40px;
   }
   
   .index-intro .jumbotron .parag-1 {
      font-size: 32px;
    }

    .index-intro .jumbotron .parag-2{
      font-size: 18px;
   }

   .jumbotron .button .btn{
      font-size: 16px;
      padding: 5px 10px;
   }


   /*Card area*/

   .news h2{
      font-size: 36px;
      margin-top: 15px;
   }
   
   .news p{ 
      font-size: 12px;
   }

   .card-area{
      display: block;
         }

   .card{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      width: 100%;
   }

   .card-title h4{
      font-size: 20px;
   }
   
   .card-title h5{
      font-size: 15px;
   }

   .card-text{
      font-size: 12px;
   }
}

@media only screen and (min-width:769px) and (max-width:1024px){
   
/*logo*/

.navbar-brand img{
   max-width: 100%;
}

   
/*jumbotron*/

.index-intro .jumbotron h1, .jumbotron h2{
   font-size: 50px;
}

.index-intro .jumbotron .parag-1 {
   font-size: 36px;
}

.jumbotron .button .btn {
   font-size: 18px;
   padding: 10px 15px;
}

.news h2{
   font-size: 40px;
   margin-top: 20px;
}

.news p{
   margin-bottom: 20px;
   font-size: 16px; 
}

.card{
   margin-right: 20px;
}

.card-title h4{
   font-size: 22px;
}
.card-title h5{
   font-size: 18px;
}

.card-text{
   font-size: 14px;
}

}
